@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text: 0 0% 91%;
  --background: 0 0% 5%;
  --dark-100: 0 0% 11%;
  --dark-300: 0 0% 17%;
  --dark-500: 0 0% 23%;
  --dark-700: 0 0% 29%;
  --dark-900: 0 0% 35%;
  --important: 49 85% 65%;
  --important-100: 49 85% 65%;
  --important-300: 49 85% 71%;
  --important-500: 49 85% 77%;
  --important-700: 49 85% 83%;
  --important-900: 49 85% 89%;
  --tag-version: 0 0% 70%;
  --tag-krystal: 200 50% 70%;
  --tag-type: 0 50% 70%;
  --tag-checked: var(--important);
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: transparent;
}

:hover::-webkit-scrollbar {
  background-color: hsl(var(--dark-300));
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background-color: hsl(var(--text)/0.7);
}

::selection {
  background-color: hsl(var(--text));
  color: hsl(var(--background));
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: clip;
  scrollbar-gutter: auto;
}

body {
  margin: 0;
  color: hsl(var(--text));
  background: hsl(var(--background));
  font-family: "DM Sans", sans-serif;
}

img {
  display: block;
}

button {
  font-size: inherit;
  font-family: inherit;
}

.important {
  color: hsl(var(--important));
  font-weight: 700;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
}
.svg-container:is(button) {
  color: hsl(var(--text));
}
.svg-container:is(.icon) {
  width: 24px;
  color: hsl(var(--important));
}
.svg-container:is(.hamburger-menu) {
  width: 50px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.svg-container:is(.hamburger-menu):is(:hover, :focus-visible) {
  background-color: hsl(var(--dark-300));
}
.svg-container:is(.hamburger-menu):is(:active) {
  background-color: hsl(var(--dark-500));
}

.main-container {
  --_nav-width: 350px;
  --_header-height: 100px;
  container-type: inline-size;
  display: grid;
  grid-template-areas: "header header" "nav main";
  grid-template-columns: var(--_nav-width) 1fr;
  grid-template-rows: var(--_header-height) 1fr;
  height: 100%;
  height: 100svh;
}
.main-container:has(nav[aria-expanded=false]) {
  --_nav-width: 0px;
}
@media (max-width: 870px) {
  .main-container {
    --_nav-width: 0px;
    grid-template-areas: "header header" "main main";
  }
  .main-container nav {
    position: absolute;
    top: var(--_header-height);
    min-height: calc(100% - var(--_header-height));
    translate: -350px 0px;
  }
  .main-container nav:is(.visible) {
    translate: 0px 0px;
  }
  .main-container nav:is(.visible) li:is(:hover, :focus-visible, .selected) a {
    padding-inline-start: 1rem !important;
  }
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
@media (max-width: 600px) {
  header .user-profile {
    padding-inline: 0.5rem !important;
    border-radius: 50% !important;
  }
  header .user-profile p {
    display: none;
  }
}
header h1 {
  font-size: clamp(1rem, 0.6rem + 1.6vw, 2rem);
}
header .dropdown {
  position: relative;
  margin-inline-start: auto;
  z-index: 99999;
}
header .dropdown:is(.active) .user-profile {
  background-color: hsl(var(--dark-300));
  outline: 1px solid hsl(var(--important-900)/0.5);
}
header .dropdown:is(.active) .user-profile + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
header .dropdown .dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  background-color: hsl(var(--dark-300));
  border-radius: 0.25rem;
  opacity: 0;
  pointer-events: none;
  outline: 1px solid hsl(var(--important-900)/0.8);
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
header .dropdown .dropdown-menu > div {
  display: flex;
  flex-direction: column;
}
header .dropdown .dropdown-menu > div .user {
  padding: 0.5rem;
  text-align: center;
}
header .dropdown .dropdown-menu > div .user p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
}
header .dropdown .dropdown-menu > div .user p span {
  color: hsl(var(--important-300));
}
header .dropdown .dropdown-menu > div .item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 12.5rem;
  padding: 0.5rem;
  color: hsl(var(--text));
  text-decoration: none;
}
header .dropdown .dropdown-menu > div .item a > :last-child {
  margin-inline-start: auto;
  color: hsl(var(--text)/0.5);
  width: 16px;
}
header .dropdown .dropdown-menu > div .item a:is(:hover, :focus-visible) {
  color: hsl(var(--background));
  background-color: hsl(var(--important));
}
header .dropdown .dropdown-menu > div .item a:is(:hover, :focus-visible) .icon {
  color: hsl(var(--background));
}
header .dropdown .dropdown-menu > div .item a:is(:hover, :focus-visible) span {
  color: hsl(var(--background));
}
header .user-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  color: inherit;
  background-color: hsl(var(--dark-100));
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
header .user-profile:is(:hover, :focus-visible) {
  background-color: hsl(var(--dark-300));
}
header .user-profile p {
  font-weight: 700;
}
header .user-profile .avatar {
  display: flex;
  align-items: center;
  border: 1px solid hsl(var(--dark-900));
  border-radius: 50%;
}
header .user-profile .avatar img {
  display: block;
  max-width: 50px;
  object-fit: contain;
  border-radius: 50%;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  min-height: 100%;
  z-index: 9999;
  overflow-y: auto;
  background-color: hsl(var(--background));
  transition: translate 200ms cubic-bezier(0.02, 0.83, 0.3, 0.97);
}
nav .nav-container {
  display: flex;
  flex-direction: column;
}
nav .nav-inner {
  user-select: none;
  padding-block: 1rem;
}
nav .nav-inner ul,
nav .nav-inner li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .nav-inner ul {
  display: flex;
  flex-direction: column;
}
nav .nav-inner li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
nav .nav-inner li:is(:hover, :focus-visible, .selected) {
  background-color: hsl(var(--important));
}
nav .nav-inner li:is(:hover, :focus-visible, .selected) a {
  padding-inline-start: 1.5rem;
  color: hsl(var(--background));
}
nav .nav-inner li:is(:hover, :focus-visible, .selected) .tag {
  color: hsl(var(--text));
  background-color: hsl(var(--background));
}
nav .nav-inner a {
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: hsl(var(--text));
  text-decoration: none;
  font-weight: 700;
  transition: padding-inline-start 150ms linear;
}
nav .nav-inner .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  margin-inline-end: 0.5rem;
  padding-block: 0.25rem;
  color: hsl(var(--background));
  background-color: hsl(var(--important));
  border-radius: 99999px;
  font-size: 0.875rem;
  font-weight: 700;
}
nav aside {
  margin-block-start: auto;
}
nav .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
}
nav .socials a {
  color: hsl(var(--text));
  opacity: 0.5;
  transition: opacity 100ms linear, scale 100ms linear, rotate 100ms ease-in;
}
nav .socials a:is(:hover, :focus-visible) {
  opacity: 1;
  scale: 1.2;
  rotate: 5deg;
  text-shadow: 2px 2px 0 0 red;
}
nav .socials a:is(:active) {
  background-color: hsl(var(--dark-300));
  border-radius: 0.25rem;
}
nav footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding-block: 1rem;
  text-align: center;
  color: hsl(var(--text)/0.5);
}
nav footer p {
  margin: 0;
}
nav footer a {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  color: hsl(var(--important)/0.7);
}
nav footer a:is(:hover, :focus-visible) {
  color: hsl(var(--text));
}
nav footer a:is(:hover, :focus-visible) .icon {
  color: hsl(var(--text));
}
nav footer a .icon {
  color: inherit;
  width: 15px !important;
  position: relative;
  top: 1px;
}
nav footer small {
  font-size: 0.75rem;
}

main {
  grid-area: main;
  container-type: inline-size;
  background-image: url(https://cdn.discordapp.com/attachments/314296024833196036/1164681617789431938/latest.png?ex=65441948&is=6531a448&hm=9f25b100752249d3b3ab6332bfa80da50a0ad4af22cb42f453f6c40531b49795&);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: fixed;
  overflow-y: scroll;
}
main .content {
  display: flex;
  gap: 1rem;
  min-height: 100%;
  padding: 1rem;
  z-index: 0;
  background-color: hsl(var(--background)/0.9);
}
main #filter {
  position: sticky;
  top: 0;
  width: 250px;
  height: min-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
main #filter h2 {
  display: flex;
  align-items: center;
  margin: 0;
}
main #filter h3 {
  margin-block-end: 0.25em;
  opacity: 0.8;
}
main #filter .tag {
  min-width: 4ch;
  padding: 0.1rem 0.5rem;
  color: hsl(var(--text)/0.4);
  background-color: hsl(var(--background));
  border: 1px solid hsl(var(--text)/0.4);
  border-radius: 0.25rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
  transition: background-color 100ms linear, opacity 100ms linear;
}
main #filter .filter-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: 0.25rem;
}
main #filter .filter-box input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
main #filter .filter-box input:is(:hover, :focus-visible) + label {
  outline: 2px solid hsl(var(--important));
  outline-offset: 2px;
}
main #filter .filter-box input:is(:active) + label {
  scale: 0.95;
}
main #filter .filter-box input:checked + label {
  color: hsl(var(--background));
  background-color: hsl(var(--important-100));
}
main #ach-tracker {
  flex: 1 0 0;
}
main #ach-tracker h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-block-end: 0.5em;
}
main #ach-tracker h2 .svg-container {
  width: 30px;
}
main #ach-tracker .search-bar {
  display: flex;
  border-radius: 0.5rem;
}
main #ach-tracker .search-bar:is(:hover, :focus-visible) {
  outline: 2px solid hsl(var(--important));
  outline-offset: 2px;
}
main #ach-tracker .search-bar:has(input:is(:hover, :focus-visible)) {
  outline: 2px solid hsl(var(--important));
  outline-offset: 2px;
}
main #ach-tracker .search-bar input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 100%;
}
main #ach-tracker .search-bar input::placeholder {
  font-size: 0.875rem;
  font-family: monospace;
  padding-inline-start: 0.25rem;
}
main #ach-tracker .search-bar input:is(:hover, :focus-visible) {
  outline: none;
}
main #ach-tracker .search-bar label {
  padding: 0.25rem 0.5rem;
  color: hsl(var(--background));
  background-color: hsl(var(--important));
  border-left: 1px solid hsl(var(--background)/0.5);
  border-radius: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}
main #ach-tracker .search-bar label:is(:active) {
  scale: 0.95;
}
main #ach-tracker .search-bar label .svg-container {
  width: 24px;
}
main #ach-tracker .achievement-container {
  container-type: inline-size;
  container-name: achievement;
}
main #ach-tracker .achievement-container .filter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
main #ach-tracker .achievement-container .achievement {
  display: flex;
  gap: 1rem;
  padding: 0.75rem;
  color: hsl(var(--text));
  background-color: hsl(var(--dark-500));
  border-radius: 0.25rem;
  opacity: 0.5;
  position: relative;
}
main #ach-tracker .achievement-container .achievement:is(:hover) {
  outline: 2px solid hsl(var(--text)/0.5);
  outline-offset: 3px;
}
main #ach-tracker .achievement-container .achievement > div:not(.checkbox) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main #ach-tracker .achievement-container .achievement:has(.checkbox-state:checked) {
  opacity: 1;
}
main #ach-tracker .achievement-container .achievement:not(:last-of-type) {
  margin-block-end: 1rem;
}
main #ach-tracker .achievement-container .tag-list {
  display: flex;
  gap: 0.5rem;
}
main #ach-tracker .achievement-container .tag-list .tag {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  padding: 0.1rem 0.5rem;
  color: hsl(var(--background));
  background-color: hsl(var(--important-900));
  border: 1px solid hsl(var(--background)/0.5);
  font-size: 0.75rem;
  font-weight: 700;
  user-select: none;
}
main #ach-tracker .achievement-container .tag-list .tag:is(.version) {
  border-left: 4px solid hsl(var(--tag-version));
}
main #ach-tracker .achievement-container .tag-list .tag:is(.krystal) {
  border-left: 4px solid hsl(var(--tag-krystal));
}
main #ach-tracker .achievement-container .tag-list .tag:is(.type) {
  border-left: 4px solid hsl(var(--tag-type));
}
main #ach-tracker .achievement-container .tag-list .tag img {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
}
main #ach-tracker .achievement-container .information {
  z-index: 1;
  width: fit-content;
}
main #ach-tracker .achievement-container .information h3, main #ach-tracker .achievement-container .information p {
  margin: 0;
}
main #ach-tracker .achievement-container .information p {
  opacity: 0.9;
}
main #ach-tracker .achievement-container aside {
  display: grid;
  place-items: center;
  margin-inline-start: auto;
  z-index: 1;
}
main #ach-tracker .achievement-container aside .svg-container.youtube {
  width: min-content;
  margin-block-start: auto;
  color: #ff3333;
}
main #ach-tracker .achievement-container aside .svg-container.youtube:is(:hover, :focus-visible) {
  opacity: 0.8;
  scale: 1.05;
}
main #ach-tracker .achievement-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
main #ach-tracker .achievement-container .checkbox input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@container (max-width: 600px) {
  main .content {
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }
  main #filter {
    width: 100%;
    height: auto;
    background-color: hsl(var(--dark-100));
  }
  main #filter .filter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;
  }
  main #filter .filter-grid .filter-box {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  main #filter .filter-grid .filter-box label {
    flex: 1 0 100%;
  }
  main #filter h2 {
    margin: 0;
  }
  main #ach-tracker {
    margin-block-end: auto;
  }
}
@container achievement (max-width: 500px) {
  .achievement .information {
    width: 100%;
  }
}