@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
:root {
  --body-bg: 0 0% 9%;
  --card-bg: 0 0% 14%;
  --text: 0 0% 91%;
  --font-xl: 1.2rem;
  --font-lg: 1.1rem;
  --font-md: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  color: hsl(var(--text));
  background-color: hsl(var(--body-bg));
  margin: 0;
  padding: 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: var(--font-md);
  font-weight: 400;
  line-height: 1.6;
}

h1,
p {
  margin: 0;
}

h2,
p {
  margin: 0;
}

h3,
p {
  margin: 0;
}

h4,
p {
  margin: 0;
}

h5,
p {
  margin: 0;
}

h6,
p {
  margin: 0;
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-lg);
}

h3 {
  font-size: var(--font-md);
}

h4 {
  font-size: var(--font-md);
}

h5 {
  font-size: var(--font-md);
}

h6 {
  font-size: var(--font-md);
}

main {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
}
main #user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}
main #user-cards .card {
  --card-padding: 1.25rem;
  --card-gap: 1rem;
  --image-border-width: 2px;
  --image-size: 48px;
  container-type: inline-size;
  padding: var(--card-padding);
  background-color: hsl(var(--card-bg));
  border-radius: 0.25rem;
}
@container (width > 400px) {
  main #user-cards .card .card-body {
    padding-inline-start: calc(var(--card-gap) + var(--image-border-width) * 2 + var(--image-size));
  }
}
main #user-cards .card .card-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--card-gap);
  margin-block-end: 1em;
}
main #user-cards .card .card-header .image-holder {
  border: var(--image-border-width) solid #4d4d4d;
  border-radius: 50%;
  overflow: hidden;
}
main #user-cards .card .card-header .image-holder img {
  display: block;
  width: var(--image-size);
  height: var(--image-size);
}
main #user-cards .card .card-header .header-holder h3 {
  opacity: 0.7;
  font-weight: 400;
}
main #user-cards .card .card-body h2 {
  margin-block-end: 0.5em;
  font-size: 1.6rem;
}
main #user-cards .card .card-body p {
  opacity: 0.7;
}
main #user-cards > *:last-child:nth-of-type(odd) {
  grid-column: -1/1;
}