*, *::before, *::after {
    box-sizing: border-box;
}

/* just to debugg */
/* :hover {
    outline: 1px solid blue;
} */

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;

    margin: 0;

    color: hsl(0 0% 8%);
    background-color: hsl(0 0% 100%);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

main {
    width: 100%;
    max-width: 560px;
}

.product-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-template-rows: repeat(3, 180px);
    gap: 1rem;
}

.product-section .product {
    position: relative;
}

.product-section .product:is(:hover, :focus-visible):not(.visible) .add-to-cart {
    opacity: 1;
    pointer-events: all;
    transition: opacity 100ms linear;
}

.product .tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: .25rem .5rem;
    color: hsl(0 0% 100%);
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 700;
}

.product .tag.new {
    background-color: hsl(200 70% 70%);
}

.product .tag.sale {
    background-color: hsl(140 70% 40%);
}

.product .tag.hot {
    background-color: hsl(0 70% 70%);
}

.product .image {
    position: relative;
    width: 100%;
    height: 135px;
    margin-block-end: .4rem;
    background-color: hsl(200 0% 98%);
}

.product .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.product .add-to-cart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    color: hsl(0 0% 100%);
    background-color: hsl(200 70% 70%);

    padding-block: .25rem;

    font-size: .7rem;
    text-align: center;

    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.product .add-to-cart.visible {
    opacity: 1;
}

.product .description h2 {
    font-size: .61rem;
    font-weight: 500;
    margin: 0;
}

.product .description :is(p, [data-product-discount]) {
    display: inline-block;
    font-size: .7rem;
    font-weight: 700;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product .description [data-product-discount] {
    color: hsl(0 0% 60%);
    text-decoration: line-through;
    font-size: .6rem;
}