*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --gap: .5rem;
    
    --like-button: 0 100% 65%;
    
    --text: 0 0% 8%;
    --background: 0 0% 91%;
    
    --card-body: 200 100% 70%;
    --card-body-contrast: 200 100% 20%;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    place-items: center;
    color: hsl(var(--text));
    background-color: hsl(var(--background));
    margin: 0;
    font-family: sans-serif;
  }
  
  picture, img {
    display: block;
    width: 100%;
  }
  
  .card {
    --svg-size: 24px;
    max-width: 15rem;
    padding: .5rem;
    color: hsl(var(--card-body-contrast));
    background-color: hsl(var(--card-body) / .1);
    border: 1px solid hsl(var(--text) / .2);
    border-radius: var(--gap);
    box-shadow: 
      0 0 5px 1px hsl(var(--text) / .1),
      5px 5px 15px 0 hsl(var(--text) / .3);
  }
  
  .card:is(:hover) {
    opacity: .95;
  }
  
  .card img {
    object-fit: cover;
    position: top;
    border-radius: var(--gap);
  }
  
  .card-body {
    display: flex;
    padding: var(--gap);  
  }
  
  .card-title {
    display: grid;
    gap: var(--gap);
  }
  
  .card-body .card-title > :first-child {
    margin: 0;
    margin-block-start: calc(var(--gap) / 2);
  }
  
  .card-title .card-description {
    margin: 0;
    color: hsl(var(--text) / .7);
  }
  
  .card-body .card-like-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: hsl(var(--card-body-contrast) / .7);
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .card-body .card-like-button:is(:hover, :focus-visible) {
    color: hsl(var(--like-button));
  }
  
  .card-body .card-like-button svg {
    width: var(--svg-size);
    height: var(--svg-size);
  }
  
  .card-body .card-like-button svg:is(.not-liked) {
    visibility: hidden;
    position: absolute;
  }
  
  .card-body .card-like-button:is(:active) svg {
    scale: .9;
  }
  
  .card-body .card-like-button:is(:active) svg:nth-of-type(1) {
    visibility: hidden;
    position: absolute;
  }
  
  .card-body .card-like-button:is(:active) svg:nth-of-type(2) {
    visibility: visible;
    position: static;
  }
  
  .card-body .card-like-button .likes {
    font-family: monospace;
    font-weight: 900;
  }
  

  .a {
    display: none;
  }

  .b {
    display: block;
  }

  .c {
    display: block;
  }

  .d {
    display: flex;
  }

  .e {
    display: grid;
  }